.btn {
  cursor: pointer;
  background-color: var(--sec-color);
  border: 1px solid var(--sec-color);
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  height: fit-content;
  color: var(--text-color);
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: var(--accent-color);
  color: black;
}
.btn:active {
  transform: scale(0.9);
  transition: none;
}
